.editor {
  max-width: 540px;
  width: 100%;

  height: 100%;

  overflow-y: auto;

  padding: 25px 30px;

  background: #f5f5fc;

  &__drop {
    max-width: 100%;
    width: 100%;
    height: 83px;

    &.active{
      border: 2px dashed #e4e6f1;
    }
  }
}
